{{/* This template is combined with other templates to render blog pages. */}}

{{define "root"}}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{template "title" .}}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
	<link rel="alternate" type="application/atom+xml" title="blog.golang.org - Atom Feed" href="http://blog.golang.org/feed.atom" />
</head>
<body>

<div id="container">

<div id="heading">
	<a href="http://golang.org/"><img src="/static/logo.png"></a>
	<a href="/">The Go Programming Language Blog</a>
</div><!-- #heading -->

<div id="sidebar">
	{{with .Doc}}
		{{with .Newer}}
			<h1>Next article</h1>
			<p><a href="{{.Path}}">{{.Title}}</a></p>
		{{end}}
		
		{{with .Older}}
			<h1>Previous article</h1>
			<p><a href="{{.Path}}">{{.Title}}</a></p>
		{{end}}
		
		{{with .Related}}
			<h1>Related articles</h1>
			<ul>
			{{range .}}
				<li><a href="{{.Path}}">{{.Title}}</a></li>
			{{end}}
			</ul>
		{{end}}
	{{end}}
	
	<h1>Links</h1>
	<ul>
	<li><a href='http://golang.org/'>golang.org</a></li>
	<li><a href='http://golang.org/doc/install.html'>Install Go</a></li>
	<li><a href='http://tour.golang.org/'>A Tour of Go</a></li>
	<li><a href='http://golang.org/doc/'>Go Documentation</a></li>
	<li><a href='http://groups.google.com/group/golang-nuts'>Go Mailing List</a></li>
	<li><a href='https://plus.google.com/101406623878176903605'>Go on Google+</a></li>
	<li><a href='https://plus.google.com/112164155169467723645/posts'>Go+ Community</a></li>
	<li><a href='http://twitter.com/go_nuts'>Go on Twitter</a></li>
	</ul>
	
	<h1>Keep up with Google Developers</h1>
	<ul>
	<li><a href='https://plus.google.com/+GoogleDevelopers/posts'>Google Developers +Page</a></li>
	<li><a href='https://developers.google.com/live/'>Google Developers Live</a></li>
	<li><a href='https://developers.google.com/'>Google Developers</a></li>
	<li><a href='http://googledevelopers.blogspot.com/'>Google Developers Blog</a></li>
	</ul>
	
	<h1>Blog Archive</h1>
	<p><a href="/index">Article index</a></p>
	<!-- TODO(adg): list of recent articles here? -->
</div><!-- #sidebar -->

<div id="content">
	{{template "content" .}}
</div><!-- #content -->

<div id="footer">
	<p>
	Except as
	<a href="http://code.google.com/policies.html#restrictions">noted</a>,
	the content of this page is licensed under the Creative Commons
	Attribution 3.0 License,<br>
	and code is licensed under a <a href="/LICENSE">BSD license</a>.<br>
	<a href="http://golang.org/doc/tos.html">Terms of Service</a> | 
	<a href="http://www.google.com/intl/en/policies/privacy/">Privacy Policy</a>
	</p>
</div><!-- #footer -->

</div><!-- #container -->

</body>
<script src="/static/jquery.js"></script>
<script src="/static/play/playground.js"></script>
<script src="/static/play/play.js"></script>
<script src="/static/script.js"></script>
</html>
{{end}}

{{define "doc"}}
	<div class="article">
		<p class="date">{{.Time.Format "2 January 2006"}}</p>
		<h1 class="title"><a href="{{.Path}}">{{.Title}}</a></h1>
		{{.HTML}}
		{{with .Authors}}
			<p class="author">By {{authors .}}</p>
		{{end}}
	</div>
{{end}}
